@media (min-width: 320px) and (max-width: 500px) {
    .sidebar {
        height: 0%;
        width: 100%;
    
        pointer-events: none; 
    
        overflow: auto;
    
        transition: all 0.3s ease-in-out;
    }

    .sidebar.open {
        height: 20%;
        width: 100%;
    }
    
}